@charset "UTF-8"
html{-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	}

audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}



audio:not([controls]){display:none;height:0;}

[hidden],template{display:none;}

a{background-color:transparent;
}

a:active,a:hover{outline:0;}


abbr[title]{border-bottom:1px dotted;}


dfn{font-style:italic;}


small{font-size:80%;}


sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}


sup{top:-0.5em;}

sub{bottom:-0.25em;}


img{border:0;}


svg:not(:root){overflow:hidden;}


hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}


code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em;}


button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}


button{overflow:visible;}

button,select{text-transform:none;}


button,html input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;}

button[disabled],html input[disabled]{cursor:default;}


button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}


input{line-height:normal;}


input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}

legend{border:0;padding:0;}

table{border-collapse:collapse;border-spacing:0;}

td,th{padding:0;}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}

body{line-height:1;}

ol,ul{list-style:none;}

blockquote,q{quotes:none;}

blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}

table{border-collapse:collapse;border-spacing:0;}

.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0;}

.clearfix:after{clear:both;}

.clearfix{zoom:1;}

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

img{max-width:100%;height:auto;}

a{text-decoration:none}i,blockquote{font-style:italic;}

.wrapper{width:650px;margin:0 auto;padding:0 10px;}

@media only screen and (max-width:680px){.wrapper{width:100%;}

}.logo{display:inline;float:left;width:48px;margin:0 15px 0 0;}

.logo a{display:block;overflow:hidden;}

.logo.circle a{-webkit-border-radius:24px;-moz-border-radius:24px;border-radius:24px;}

.logo.square a{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}

.logo img{display:block;}

.title_description{display:inline;float:left;width:577px;}

.title{display:block;font-size:24px;}

.description{display:block;font-size:14px;}

@media only screen and (min-width:600px) and (max-width:680px){.title_description{width:517px;}

}@media only screen and (max-width:599px){.logo,.title_description{display:block;float:none;width:100%;text-align:center;}

.logo a{display:inline-block;}

.logo,.title{margin:0 0 25px 0;}

}.menu{padding:0 0 40px 0;}

.menu ul{list-style:none!important;}

.menu ul li{display:inline;float:left;margin:0 20px 10px 0;font-size:14px;line-height:1;text-transform:uppercase;letter-spacing:1px;}

.menu ul li a{display:block;}

@media only screen and (max-width:599px){.menu{text-align:center;}

.menu ul li{display:inline-block;float:none;margin:0 10px 10px 10px;}

}.post{margin:0 0 10px 0;padding:10px;background-color:#333333;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 5px 4px -4px rgba(0,0,0,0.1);-moz-box-shadow:0 5px 4px -4px rgba(0,0,0,0.1);box-shadow:0 5px 4px -4px rgba(0,0,0,0.1);}

.post:last-child{margin:0;}

.post_title{display:block;font-size:24px;line-height:28px;}

.post_content{line-height:1.625;}

.post_content p{display:block;}

.post_content p:first-child{margin:0;}

.post_content hr{border:none;border-top:solid 1px #eee;}

.short,.medium,.long{display:block;}

.short:before,.medium:before,.long:before,.short:after,.medium:after,.long:after{content:'"';}

.short{font-size:26px;line-height:30px;}

.medium{font-size:24px;line-height:28px;}

.long{font-size:20px;line-height:24px;}

.post_content blockquote{display:block;padding:0 0 0 15px;}

.post_content h2,.post_content h3,.post_content h4,.post_content h5,.post_content h6{display:block;}

.post_content h2{font-size:20px;line-height:24px;}

.post_content h3{font-size:18px;line-height:22px;}

.post_content h4,.post_content h5,.post_content h6{font-size:16px;line-height:20px;}

.post_content img{display:block;margin:15px auto 0 auto;}

.post_content ul,.post_content ol{display:block;}

.post_content ul{list-style:disc;}

.post_content ol{list-style:decimal;}

.post_content li{display:list-item;list-style-position:inside;}

.post_content ul ul{list-style:circle;}

.post_content p,.post_content hr,.post_content blockquote,.post_content h2,.post_content h3,.post_content h4,.post_content h5,.post_content h6,.post_content ul,.post_content ol{margin:15px 0 0 0;}

.post_title,.photo_wrapper,.photoset_wrapper,.short,.medium,.long,.media{margin:0 0 15px 0;}

.post_title.link,.post_title.answer{margin:0;}

.photo_wrapper img,.photoset_wrapper img{display:block;max-width:100%;height:auto;}

.chat{list-style:none!important;}

.chat li{display:block!important;line-height:1.625;}

.host,.asker{display:block;font-size:14px;line-height:1;}

.host{margin:10px 0;}

.asker{margin:10px 0 15px 0;text-align:right;}

.asker a{text-transform:capitalize;}

.thumbnail{position:relative;height:350px;margin:10px 0 15px 0;background-position:center center;background-attachment:scroll;background-repeat:no-repeat no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}

.thumbnail a{position:absolute;top:0;left:0;width:100%;height:100%;}

@media only screen and (min-width:400px) and (max-width:499px){.post{padding:50px;}

.thumbnail{height:300px;}

}@media only screen and (min-width:321px) and (max-width:399px){.post{padding:30px;}

.thumbnail{height:250px;}

}@media only screen and (max-width:320px){.post{padding:15px;}

.thumbnail{height:200px;}

}.tags{margin:30px 0 0 0;}

.tags ul{list-style:none!important;margin:0 0 -5px 0;}

.tags ul li{display:inline;float:left;margin:0 10px 5px 0;font-size:10px;line-height:1;text-transform:uppercase;letter-spacing:1px;}

.tags ul li a:before{content:'#';}

.post_meta{margin:30px 0 0 0;}

.actions{list-style:none!important;}

.actions li{display:inline;font-size:12px;line-height:18px;text-transform:uppercase;letter-spacing:1px;}

.date{float:left;}

.reblog_button,.like_button,.notes_count{float:right;}

.reblog_button,.like_button{margin:0 0 0 5px;}

.post_comments{margin:30px 0 0 0;}

.post_notes{margin:30px 0 0 0;}

.post_notes ol{list-style:none!important;}

.post_notes ol li{display:block;margin:5px 0 0 0;font-size:14px;line-height:16px;}

.post_notes ol li:first-child{margin:0;}

.post_notes ol li blockquote{margin:5px 0 0 25px;padding:4px 10px;}

.avatar_frame{margin:0 5px 0 0;vertical-align:-4px;}

span.action a{text-transform:capitalize;}

a.more_notes_link{display:block;margin:30px 0 0 0;font-size:12px;line-height:1;text-transform:uppercase;letter-spacing:1px;text-align:center;}

.pagination{margin:50px 0 0 0;}

.pagination_previous,.pagination_next{display:inline;width:100px;height:50px;background-color:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 5px 4px -4px rgba(0,0,0,0.1);-moz-box-shadow:0 5px 4px -4px rgba(0,0,0,0.1);box-shadow:0 5px 4px -4px rgba(0,0,0,0.1);}

.pagination_previous{float:left;}

.pagination_next{float:right;}

.pagination a{display:block;width:100%;height:100%;font-size:12px;line-height:50px;letter-spacing:1px;text-align:center;text-transform:uppercase;}

.footer{padding:80px 0;text-align:center;}

.copyrights,.theme_by{display:block;}

.copyrights{font-size:12px;line-height:1;}

.theme_by{margin:5px 0 0 0;font-size:10px;line-height:1;}

.media{display:block;}

.media iframe{display:block;max-width:100%;}

.media .soundcloud_audio_player,.media .spotify_audio_player,.media .tumblr_audio_player{display:block;}

@media only screen and (max-width:680px){.media .soundcloud_audio_player,.media .spotify_audio_player,.media .tumblr_audio_player{display:block;width:100%;height:80px;}

}