
		@font-face {
  	font-family: Quattro;
  	src: url(fonts/Quattro.woff);
		}

		@font-face {
  	font-family: QuattroIt;
  	src: url(fonts/QuattroIt.woff);
		}

		@font-face {
  	font-family: QuattroBo;
  	src: url(fonts/QuattroBo.woff);
		}

 

	html{
		background-color: #F0F0F0;
		font-family: 'Quattro', sans-serif;
		color: #1B1B1B;
	}
	
	nav {
		
	}


	.hyper {
  float: right;
  margin-left: 1.5em;

	}

	.redacted {

  background-color: #1B1B1B;


	}

	body {
		font-size: 1em;
		line-height: 1.6em;
		text-align: left;
		margin: 0 auto;
		padding: 0 10%;
		margin-top: 15%;
		max-width: 800px;
		min-width: 300px;


	}

	

		

	p {
		margin-top: 0.5em;
		margin-bottom: 1em;
		font-size: 1em;
	}

	

	h1 {
		font-size: 6em;
		font-family: 'QuattroBo', sans-serif;
		float: right;
		right: 0;
		max-width: 800px
		min-width: 100px;
	}

	.subtitle{

		font-size: 2em;
		font-family: 'QuattroBo', sans-serif;
		max-width: 600px;
		line-height: 1.4em;
		font-weight: 100;

	}
	



	
	a:link {
	  color: #1B1B1B;
	  text-decoration: none;
	  font-family: QuattroIt, sans-serif;
	}
	
	a:visited {
	  color: #1B1B1B;
	  text-decoration: none;
	  font-family: QuattroIt, sans-serif;
	} 
		
	a:hover {
	  color: #4096D2;
	  text-decoration: none;
	  font-family: QuattroIt, sans-serif;
	}  


	#name {
		font-size: 3em;
		position: absolute;
		right: 10%;
		top: 80%;
		width: 70%;
		max-width: 1000px;
		min-width: 200px;
		
	}




	
	@media (prefers-color-scheme: dark) {


	html{
		background-color: #1B1B1B;
		color: #F0F0F0;
	}

	.redacted {
  background-color: #F0F0F0

	}

	a:link {
	  color: #F0F0F0;
	  text-decoration: none;
	  font-family: QuattroIt, sans-serif;
	}
	
	a:visited {
	  color: #F0F0F0;
	  text-decoration: none;
	  font-family: QuattroIt, sans-serif;
	} 
		
	a:hover {
	  color: #4096D2;
	  text-decoration: none;
	  font-family: QuattroIt, sans-serif;
	}    

@media screen and (max-width: 750px) {



h1 {
		font-size: 4em;
	}

}  

@media screen and (max-width: 550px) {



h1 {
		font-size: 2.8em;
	}

}  
