
		@font-face {
  	font-family: Quattro;
  	src: url(fonts/Quattro.woff);
		}

		@font-face {
  	font-family: QuattroIt;
  	src: url(fonts/QuattroIt.woff);
		}

		@font-face {
  	font-family: QuattroBo;
  	src: url(fonts/QuattroBo.woff);
		}

 

	html{
		background-color: #F0F0F0;
		font-family: 'Quattro', sans-serif;
		color: #1B1B1B;
	}
	
	nav {
		
	}


	.hyper {
  float: right;
  margin-left: 1.5em;

	}

	.redacted {

  background-color: #1B1B1B;


	}

	.hyper2 {
  float: left;
  margin-top: 80%;
  
	}

	body {
		font-size: 1em;
		line-height: 1.6em;
		text-align: left;
		margin: 0 auto;
		padding: 0 10%;
		margin-top: 15%;
		max-width: 800px;
		min-width: 300px;


	}

	

		

	p {
		margin-top: 0.5em;
		margin-bottom: 1em;
		font-size: 1em;
	}

	

	h1 {
		font-size: 8em;
		font-family: 'QuattroBo', sans-serif;
		position: absolute;
		bottom: 10%;
		right: 10%;
	}

	h2 {
		font-size: 2em;
		font-family: 'Quattro', sans-serif;
		margin-bottom: 0em;
		line-height: 1em;
	}
	



	
	a:link {
	  color: #1B1B1B;
	  text-decoration: none;
	  font-family: QuattroIt, sans-serif;
	}
	
	a:visited {
	  color: #1B1B1B;
	  text-decoration: none;
	  font-family: QuattroIt, sans-serif;
	} 
		
	a:hover {
	  color: #4096D2;
	  text-decoration: none;
	  font-family: QuattroIt, sans-serif;
	}  


	#name {
		position: absolute;
		right: 10%;
		top: 80%;
		width: 70%;
		max-width: 1000px;
		
	}

	#namewhite {
		display: none;
		position: absolute;
		right: 10%;
		top: 80%;
		width: 70%;
		max-width: 1000px;
		
	}



	
	@media (prefers-color-scheme: dark) {


	html{
		background-color: #1B1B1B;
		color: #F0F0F0;
	}


	#namewhite {
		display: inherit;
		position: absolute;
		right: 10%;
		top: 80%;
		width: 70%;
		max-width: 1000px;
		
	}

	#name {
		display: none;

		
	}


	a:link {
	  color: #F0F0F0;
	  text-decoration: none;
	  font-family: QuattroIt, sans-serif;
	}
	
	a:visited {
	  color: #F0F0F0;
	  text-decoration: none;
	  font-family: QuattroIt, sans-serif;
	} 
		
	a:hover {
	  color: #4096D2;
	  text-decoration: none;
	  font-family: QuattroIt, sans-serif;
	}    
